header{
    width: 100vw;
    font-size: 30px;
    text-align: center;
    margin: 0;
}
.navbar{
    margin: 0;
    padding: 0;
    border-top: blueviolet solid 1px;
}
.navbar-brand{
    border-right: solid 1px blueviolet;
    margin: 0;
    padding-right: 20px;
    color: azure;
}
.contact-Info{
    background-color: cornflowerblue;
}