#titlebar{
    width: 100vw;
    font-size: 30px;
    text-align: center;
    margin: 0;
}
.navbar{
    margin: 0;
    padding: 0;
    border-top: blueviolet solid 1px;
}
.navbar-brand{
    border-right: solid 1px blueviolet;
    margin: 0;
    padding-right: 20px;
    color: azure;
}
.contact-Info{
    background-color: cornflowerblue;
}
.bgov{
    overflow: hidden;
    border-radius: 20px;
    border: solid 1px blueviolet;
}
.pedestal{
   max-height: 25vh;
   padding: 0px;
   margin-bottom: 1vh;
}
.pedestal img{
    opacity: .5;
    z-index: 1;
}
.pedestal img:hover{
    opacity: 1.0;
    
}










footer{
    background-color: #333333;
    width: 100%;
    height: 5vh;
    float: right;
    margin-top: 10vh;
    border-top: blueviolet solid 2px;

}